# Credenciales
.env
.env.*
!.env.example
*.conn
*.udl
*.pfx
*.pem
*.key
*credenciales*
*secrets*
*.local.sql

# Respaldos nativos y archivos de datos (el .bacpac sí se sube)
*.bak
*.trn
*.mdf
*.ldf
*.ndf

# Logs y errores de bcp
*.err
*.log
*.out

# Temporales de Power BI
~$*
*.pbix.bak
**/.pbi/localSettings.json
**/.pbi/cache.abf

# Editor y sistema
.vscode/
.vs/
*.suo
*.user
Thumbs.db
desktop.ini
.DS_Store
